@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    /* CSS HEX */
--verdeescuro: #10451dff;
--dartmouth-green: #155d27ff;
--dark-spring-green: #1a7431ff;
--forest-green: #208b3aff;
--verdegreen: #25a244ff;
--dark-pastel-green: #2dc653ff;
--malachite: #4ad66dff;
--verdegrama: #6ede8aff;
--verdepastel1: #92e6a7ff;
--verdepastel2: #b7efc5ff;
    --laranja-claro: #FF862A;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: var(--verdepastel2);
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: var(--verdeescuro);
    font-weight: 600;
}

.inicio-fundo {
    /* aula 3 */
    background-image: url('img/slogo\ 3.png');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--verdegreen);
    border-radius: 30px;
    border: none;
    width: 14em;
    /* Convertido para em aumenta o tamanho da fonte por tabela*/
    height: 3em;
    /* Convertido para em */
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--verdegreen);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--verdepastel1);
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--verdegreen);
}

#galeria {
    background-color: var(--verdepastel1);

}

.fundo-galeria {
   background-color: var(--verdepastel1);
    background-size: 180px 180px;
}

#contato {
 background-color: var(--verdepastel1);
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: var(--forest-green);
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #F1EDEF;
}

.menu-acessibilidade{
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}
.rotacao-menu{
    transform: rotate(-90deg);
    transform-origin: right center;
    }
    .opcoes-acessibilidade{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .opcoes-acessibilidade button{
        margin-bottom: 5px;
    }
    .apresenta-lista{
        display: none;
    }
    .nav-img{
        width: 15%;
        border-radius: 5%;
    }